a { 
	font-family: Arial, Verdana, sans-serif; 
	font-size: 18px; 
	color: #483D8B; 
	text-decoration: none 
}

a:hover { 
	font-family: Arial, Verdana, sans-serif; 
	font-size: 18px; 
	color: #A52A2A; 
	background-color: #FAEBD7
}
img {  
	border-style: none;
}

table {
	border-width: 2px 2px 2px 2px;
	border-spacing: 3px;
	border-style: solid solid solid solid;
	border-color: black black black black;
	border-collapse: separate;
	background-color: white;
}
table th {
	border-width: 2px 2px 2px 2px;
	padding: 0px 0px 0px 0px;
	border-style: solid solid solid solid;
	border-color: black black black black;
	background-color: white;
	-moz-border-radius: 0px 0px 0px 0px;
}
table td {
	border-width: 2px 2px 2px 2px;
	padding: 0px 0px 0px 0px;
	border-style: solid solid solid solid;
	border-color: black black black black;
	background-color: white;
	-moz-border-radius: 0px 0px 0px 0px;
}
